keboola.component==1.3.7
keboola.utils==1.1.0
keboola.http-client==1.0.0
mock==4.0.3
freezegun==1.1.0
zeep==4.1.0
requests==2.27.1
platformdirs==2.5.0
pyarrow>=14.0.0
pygelf==0.4.2
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
xmltodict==0.12.0
datadirtest[vcr] @ git+https://github.com/keboola/datadirtest.git@feature/vcr-testing
